:root {
    --rs-theme-color: #c9f31d;
    --rs-theme-secnd-color: #b1b1b1;
    --rs-theme-bg-color: #131313;
    --rs-theme-text-color: #ffffff;
    --rs-theme-black-color: #1f1f1f;
    --rs-black-color: #070707;
    --rs-border-color: rgba(255, 255, 255, 0.1);
    --rs-tsml-border-color: rgb(255 255 255 / 10%);
    --rs-sub-tile-color: rgba(255, 255, 255, 0.65);
}