@use '../../utils' as *;

.rs-project {
    &-area {
        @media #{$xs} {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
.project-image {
    @media #{$xs} {
        margin-bottom: 30px;
    }
    & img {
        width: 100%;
    }
}

.rsproject {
    &__area {
        &-wrap {
            @media #{$xs} {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    &__filter {
        & button {
            font-size: 18px;
            color: rgb(255 255 255 / 35%);
            margin: 0 20px 20px;
            @media #{$md} {
                margin: 0 5px 22px;
            }
            @media #{$xs} {
                margin: 0 3px 5px;
                font-size: 13px;
            }
            &.active {
                color: var(--rs-theme-color);
            }
        }
    }
    &__item {
        position: relative;
        &:hover {
            & .details-btn-prjt {
                opacity: 1;
                visibility: visible;
                z-index: 999;
            }
        }
    }
    &__image {
        position: relative;
        & img {
            width: 100%;
            z-index: 1;
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--rs-theme-black-color);
            opacity: 0;
            visibility: hidden;
            transition: .4s;
        }
        &:hover {
            &::before {
                opacity: .65;
                visibility: visible;
                z-index: 2;
            }
        }
    }
    &__title {
        color: #fff;
        @media #{$lg} {
            font-size: 21px;
        }
        @media #{$md,$xs} {
            font-size: 17px;
        }
        &:hover {
            color: var(--rs-theme-color);
        }
    }
    &__content {
        @media #{$xl,$md} {
            padding-left: 30px;
        }
        @media #{$xs} {
            padding-left: 20px;
        }
    }
    &__details{
        &-area {
            @media #{$xs} {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &-image {
            & img {
                @media #{$xl,$lg,$md,$sm,$xs} {
                    width: 100%;
                }
            }
        }
    }
    &__details-content {
        @media #{$md,$sm,$xs} {
            margin-right: 0;
        }
        @media #{$lg,$sm,$xs} {
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
        & .big-letter {
            & span {
                float: left;
                font-size: 27px;
                margin-top: 5px;
                font-weight: 700;
                padding: 13px 16px;
                @media #{$lg} {
                    padding: 5px 11px;
                    font-size: 16px;
                }
                @media #{$xs} {
                    padding: 0px 5px;
                    font-size: 13px;
                    margin-top: -65px;
                }
                border-radius: 12px;
                margin-right: 20px;
                color: var(--rs-theme-black-color);
                text-transform: uppercase;
                font-family: "DM Sans", sans-serif;
                background: var(--rs-theme-color);
            } 
        }
        & p {
            @media #{$xl,$md} {
                font-size: 14px;
            }
            @media #{$lg} {
                font-size: 13px;
            }
            @media #{$sm} {
                font-size: 13px;
                & br {
                    display: none;
                }
            }
            @media #{$xs} {
                font-size: 13px;
                line-height: 25px;
                & br {
                    display: none;
                }
            }
        }
    }
    &__details-info {
        padding: 40px 60px;
        @media #{$lg} {
            padding: 40px 40px;
        }
        border-radius: 15px;
        background-color: var(--rs-theme-color);
        @media #{$md,$sm,$xs} {
            margin-bottom: 54px;
        }
        & .info-item {
            & span {
                display: block;
                color: var(--rs-theme-black-color);
                line-height: 30px;
                font-family: "DM Sans", sans-serif;
                @media #{$xs} {
                    font-size: 14px;
                }
            }
        }
        & .info-title {
            font-size: 22px;
            @media #{$sm} {
                font-size: 22px;
            }
            @media #{$xs} {
                font-size: 18px;
            }
            color: var(--rs-theme-black-color);
            font-family: "Inter", sans-serif;
        }
    }

    &__social {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 20px 40px;
        @media #{$sm} {
            padding: 20px 10px;
        }
        @media #{$xs} {
            padding: 20px 10px;
        }
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--rs-theme-black-color);
        border: 1px solid var(rgb(255 255 255 / 10%));
        & .social-item {
            display: flex;
            align-items: center;
            font-size: 16px;
            @media #{$xs} {
                margin-bottom: 20px;
            }
            @media #{$sm,$xs} {
                font-size: 14px;
            }
            text-transform: capitalize;
            & b {
                color: white;
                font-weight: 500;
                margin-right: 20px;
            }
            & .tag-coulds  {
                & a {
                    font-weight: 500;
                    padding: 7px 20px;
                    @media #{$lg} {
                        padding: 7px 11px;
                    }
                    @media #{$sm} {
                        padding: 7px 10px;
                    }
                    @media #{$xs} {
                        padding: 7px 14px;
                    }
                    margin: 10px 5px 0;
                    border-radius: 10px;
                    font-family: "DM Sans", sans-serif;
                    text-transform: capitalize;
                    color: rgb(255 255 255 / 65%);
                    background: rgba(255, 255, 255, 0.1);
                    transition: .4s;
                    &:hover {
                        background: var(--rs-theme-color);
                        color: var(--rs-theme-black-color);
                    }
                }
            }
            & .brand-social {
                & a {
                    color: #B0AFAF;
                    font-size: 14px;
                    margin-left: 5px;
                    margin-right: 5px;
                    width: 35px;
                    height: 35px;
                    background: #0C0B0B;
                    line-height: 35px;
                    border-radius: 50%;
                    text-align: center;
                    display: inline-block;
                    transition: .4s;
                    &:hover {
                        background: var(--rs-theme-color);
                        color: var(--rs-theme-black-color);
                    }
                }
            }
        }
        &-extr {
            padding: 0;
            background-color: none;
        }
    }
}

.details-image {
    & img {
        width: 100%;
        @media #{$xl} {
            width: 100%;
        }
        @media #{$sm,$xs} {
            margin-bottom: 30px;
        }
    }
}
.extra-pb {
    @media #{$xs} {
        padding-bottom: 50px;
    }
}