@use '../../utils' as *;

.rs-service {
    &-area  {
        @media #{$xs} {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &-title {
        color: #fff;
        & h2 {
            font-size: 45px;
            @media #{$xl} {
                font-size: 44px;
            }
            @media #{$lg} {
                font-size: 38px;
                line-height: 50px;
            }
            @media #{$md} {
                font-size: 28px;
                line-height: 40px;
            }
            @media #{$sm} {
                font-size: 20px;
                line-height: 30px;
            }
            @media #{$xs} {
                width: 94%;
                font-size: 20px;
                line-height: 33px;
            }
            font-weight: 500;
            font-family: var(--rs-fonts-body);
            color: #fff;
            line-height: 60px;
            width: 50%;
            margin: auto;
            margin-bottom: 25px;
            display: block;
            & span {
                color: var(--rs-theme-color);
            }
        }
        @media #{$lg} {
            font-size: 21px;
        }
        @media #{$md} {
            font-size: 16px;
        }
        @media #{$sm} {
            font-size: 20px;
        }
        @media #{$xs} {
            font-size: 16px;
        }
    }
    &-sub-title {
        color:rgb(255 255 255 / 65%);
        margin-bottom: 15px;
        font-size: 16px;
    }
    &-item {
        display: flex;
        padding: 35px 50px;
        @media #{$lg} {
            padding: 35px 30px;
        }
        @media #{$md} {
            padding: 35px 20px;
        }
        @media #{$xs} {
            padding: 30px 15px;
        }
        margin-bottom: 30px;
        border-radius: 15px;
        background: var(--rs-theme-black-color);
        border: 1px solid rgb(255 255 255 / 10%);
        &:hover {
            border-color: var(--rs-theme-color);
            transition: .4s;
            & .rs-service-icon {
                    background: var(--rs-theme-color);
                    
                    & a {
                        & i {
                            color: #131313;
                        }
                    }
                }
        }
    }
    &-number {
        color: #fff;
        font-size: 24px;
        margin-right: 50px;
        @media #{$lg} {
            margin-right: 0;
        }
        @media #{$md} {
            margin-right: 20px;
        }
        @media #{$xs} {
            margin-right: 15px;
        }
        font-family: var(--rs-fonts-body);
    }
    &-content {
        & .title {
            color: #fff;
            margin-bottom: 10px;
            @media #{$md} {
                font-size: 18px;
            }
            @media #{$xs} {
                font-size: 17px;
            }
        }
        & p {
            color: rgb(255 255 255 / 65%);
            @media #{$md} {
                font-size: 13px;
                line-height: 22px;
                margin-bottom: 0;
            }
            @media #{$sm,$xs} {
                font-size: 14px;
            }
        }
    }
    &-icon {
        width: 50px;
        height: 50px;
        background: #131313;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        transform: rotate(-45deg);
        border: 1px solid rgb(255 255 255 / 10%);
        transition: 1.4s;
        @media #{$lg,$md,$sm,$xs} {
            flex: none;
        }
        @media #{$md,$xs} {
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
        & a {
            & i {
                color: rgb(255 255 255 / 65%);
            }
        }
    }
}
